# File cấu hình Connection Pool mẫu, ae làm theo các bước sau trên máy mình
# Bước 1: Copy file này và đổi tên bản copy thành: database.properties
# Bước 2: đặt file database.properties nằm trong thư mục src/main/resources/
# Bước 3: Thay thế các giá trị trong ngoặc <...> bằng thông tin MySQL local của ae (Xóa ngoặc nhé ae)

# JDBC CONNECTION
# Cấu trúc: jdbc:mysql://localhost:[port]/[database_name]?params...
db.url=jdbc:mysql://localhost:<port MySQL server local>/micareer_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
db.username=<Tài khoản MySQL local của ae>
db.password=<Mật khẩu>
db.driver=com.mysql.cj.jdbc.Driver

# HikariCP setting (Dùng chung cho cả hệ thống)
# Số lượng kết nối tối đa mở đồng thời
hikari.maximumPoolSize=10
# Số lượng kết nối nhàn rỗi tối thiểu luôn duy trì
hikari.minimumIdle=5
# Thời gian chờ tối đa (ms) trước khi một connection nhàn rỗi bị hủy
hikari.idleTimeout=30000
# Thời gian chờ tối đa (ms) khi request một connection từ pool (nếu pool đang cạn)
hikari.connectionTimeout=30000
# Vòng đời duy trì tối đa (ms) của một connection trong pool để tránh rò rỉ bộ nhớ
hikari.maxLifetime=1800000

# Các setting tối ưu hiệu năng bộ đệm riêng cho MySQL Driver
hikari.dataSource.cachePrepStmts=true
hikari.dataSource.prepStmtCacheSize=250
hikari.dataSource.prepStmtCacheSqlLimit=2048
hikari.dataSource.useServerPrepStmts=true
